.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 600px;
  background-color: #fff;
}

.Sidebar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 120px;
}

.toggle-sidebar {
  position: relative;
  width: 50px;
  height: 102.32px;
  top: 50vh;

  background: #f6ffea;
  border-radius: 0px 20px 20px 0px;
}

.cardContainer {
  height: 80%;
}

.categoryCard {
  position: relative;
  height: fit-content;
  top: 85vh;
}

.categoryContent {
  height: fit-content;
}
